<header class="header">
    <h1 class="logo"><img src="<%=assetPath('/images/technology.png')%>" alt=""></h1>
  <ul class="main-nav">
      <li><a href="/">Home</a></li>

      <%if(locals.user){%>
        <li><a href="/user/profile/<%=user.id%>">Profile</a></li>
      <li><a href="/user/sign-out" class="button button2">Logout</a></li>
      <%}else{%>
        <li><a href="/user/profile/>">Profile</a></li>
      <li>
        <a href="/user/sign-in" class="button">SignIn</a>      
      </li>
      <li><a href="/user/sign-up" class="button button1">Signup</a></li>
      <%}%>
  </ul>
</header> 
