<h1>Reset your Password Here</h1>

<br><br>
<h2>
    Click on the Link
</h2>
<h4><a href="localhost:8000/user/reset/reset_password/<%=token.reset_Token%>">localhost:8000/user/reset/reset_password/<%=token.reset_Token%></a></h4>