h1 {
  background-color: cyan;
  border: solid 2px black; }

#comments-section {
  transition: all 2s; }
  #comments-section hr {
    color: gray; }

.comment-btn:focus {
  outline: none; }

.comment-box {
  margin: 12px;
  border: 1px solid #ddd;
  width: 400px;
  position: relative;
  background: #dfdbdb;
  border-radius: 0px 10px 10px 10px;
  display: inline-flex; }

.comment-box > p {
  padding: 5px 10px; }

.heading {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  margin: 0px 4px 0 0px; }

.heading > img {
  width: 50px;
  border-radius: 0px 50% 0% 50%; }

.heading > a {
  text-decoration: none;
  color: blue; }

.heading > .h-in {
  margin: 1px 5px;
  width: 85%; }

.h-in > p {
  padding: 0 3px 0 0; }

.cont {
  margin: 4px 5px 0px 0; }

.c-f {
  margin-bottom: 5px; }

.c-f > a:first-child {
  color: red;
  border: 1px solid red; }

.c-f > a > .glyphicon:first-child {
  top: 3px; }

.c-f > .btn {
  border-radius: 30px; }

.pull-right {
  text-align: right;
  margin-left: 3rem; }

.pull-left {
  margin-left: 1rem; }

.h-in p {
  padding: 7px; }

.label-comment {
  margin: 2px;
  padding-left: 12px;
  padding-top: 4px;
  font-size: 1.2rem; }

.button3 {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  font-size: 1rem;
  letter-spacing: .11rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .button3:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #74cfee;
    border-radius: 10rem;
    z-index: -2; }
  .button3:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #2121b4;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1; }
  .button3:hover {
    color: #fff; }
    .button3:hover:before {
      width: 100%; }

.delete-comment {
  display: inline-block;
  top: -8px;
  left: 177px; }

.dropdown-toggle::after {
  display: none; }

.card-body .card-title {
  font-size: 1.1rem;
  font-weight: 650;
  color: grey; }

.card-body .friend-info {
  padding: 4px; }

.card-body .friend-user-img {
  display: inline-block; }

.card-body .friend-user-name {
  position: absolute;
  padding-left: 14px;
  padding-top: 6px;
  font-size: 1.1rem;
  font-family: 'FontAwesome';
  letter-spacing: 0.05rem;
  word-spacing: 0.08rem; }

.card-body hr {
  margin-bottom: 8px; }

.friend-list-border {
  border: none !important; }
